<template>
  <v-form v-model="valid">
    <v-container grid-list-md>
      <v-layout row wrap>
        <v-flex>
          <!-- DESCRIPCION -->
          <v-card>
            <v-card-text>
              <span v-if="!editandoDescripcion">{{Descripcion}}</span>
              <div v-else>
                <v-textarea solo rows="2" auto-grow="true" v-model="DescripcionTemp"></v-textarea>
              </div>
            </v-card-text>
            <v-card-actions>
              <v-btn
                flat
                color="secondary"
                v-if="!editandoDescripcion"
                @click="editandoDescripcion = true"
              >Editar</v-btn>
              <div v-else>
                <v-btn flat @click="GuardarDescripcion" color="secondary">Guardar</v-btn>
                <v-btn
                  flat
                  @click="editandoDescripcion = false, DescripcionTemp = Descripcion"
                >Cancelar</v-btn>
              </div>
            </v-card-actions>
          </v-card>
          <!-- QUIEN COMPRA -->
          <v-flex xs12>
            <v-flex xs12>
              <v-switch
                v-model="YoCompro"
                :label="`${YoCompro ? 'YO compro los ingredientes' : 'ELLOS compran los ingredientes'}`"
              ></v-switch>
            </v-flex>
          </v-flex>

          <!-- VALOR COMIDA -->
          <v-flex xs12>
            <v-text-field v-model="ValorPP" :label="'Valor por persona'" required></v-text-field>
          </v-flex>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
export default {
  props: ["tipo"],
  data: function() {
    return {
      valid: false,
      editandoDescripcion: false,
      YoCompro: true,
      DescripcionTemp: this.Descripcion,
      Descripcion: '',
      ValorPP: ''
    };
  },
  methods: {
    GuardarDescripcion() {
      this.Descripcion = this.DescripcionTemp;
      this.editandoDescripcion = false;
    }
  }
};
</script>
