<template>
  <v-container grid-list-md>
    <v-layout row wrap>
      <v-flex xs12 md6>
        <Paso2Comidas/>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Paso2Comidas from './Paso2Comidas'

export default {
  components:{
    Paso2Comidas
  },
  name: "CotPiscinaPasoB"
};
</script>
