<template>
  <v-container grid-list-md>
    <v-layout row wrap>
      <v-flex xs12 md6>
        <Paso1InfoGral/>
      </v-flex>
    </v-layout>
    <!-- <v-layout row>
      <v-flex xs12>
        <v-btn flat @click="AddDay">Agregar día</v-btn>
      </v-flex>
    </v-layout> -->
  </v-container>
</template>

<script>
import Paso1InfoGral from "./Paso1InfoGral"

export default {
  components:{
    Paso1InfoGral
  },
  name: "Paso1"
};
</script>
