<template>
  <v-card color="teal lighten-5">
    <v-card-title primary-title text-center>
      <div>
        <h4  class="title"></h4>
      </div>
    </v-card-title>
    <v-form v-model="valid">
      <v-container grid-list-md>
        <v-layout row wrap>
          <v-flex>
            <!-- DESAYUNO -->
            <v-flex xs12>
              <div>
                <v-checkbox style="margin-top: 0 !important" v-model="ConDesayuno" :label="`Desayuno`" value></v-checkbox>
                <v-flex v-if="ConDesayuno">
                  <Paso2ComidasDetalle  tipo="desayuno"/>
                </v-flex>
              </div>

              <!-- ALMUERZO -->
              <div>
                <v-checkbox style="margin-top: 0 !important" v-model="ConAlmuerzo" :label="`Almuerzo`" value></v-checkbox>
                <v-flex v-if="ConAlmuerzo">
                  <Paso2ComidasDetalle tipo="almuerzo"/>
                </v-flex>
              </div>

              <!-- ONCE -->
              <div>
                <v-checkbox style="margin-top: 0 !important" v-model="ConOnce" :label="`Once`" value></v-checkbox>
                <v-flex v-if="ConOnce">
                  <Paso2ComidasDetalle tipo="once"/>
                </v-flex>
              </div>
            </v-flex>
          </v-flex>
        </v-layout>
      </v-container>
    </v-form>
  </v-card>
</template>

<script>
import Paso2ComidasDetalle from "./Paso2ComidasDetalle";

export default {
  data: function() {
    return {
      valid: false,
      ConDesayuno: false,
      ConAlmuerzo: false,
      ConOnce: false
    };
  },
  methods: {},
  components: {
    Paso2ComidasDetalle
  }
};
</script>