<template>
  <v-card color="teal lighten-5">
    <v-form v-model="valid">
      <v-container grid-list-md>
        <v-layout row wrap>
          <v-flex>
            <!-- FECHA -->
            <v-flex xs12>
              <v-dialog
                ref="dialog"
                v-model="modal"
                :return-value.sync="Fecha"
                persistent
                lazy
                full-width
                width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field 
                  v-model="Fecha" 
                  readonly 
                  v-on="on" 
                  label="Fecha" 
                ></v-text-field>
                </template>
                <v-date-picker 
                  v-model="Fecha"
                  :first-day-of-week=1
                  :locale="'es-cl'"
                  scrollable>
                  <v-spacer></v-spacer>
                  <v-btn flat color="primary" @click="modal = false">Cancelar</v-btn>
                  <v-btn flat color="primary" @click="$refs.dialog.save(Fecha); GuardarDatos()">OK</v-btn>
                </v-date-picker>
              </v-dialog>
            </v-flex>

            <!-- NRO PERSONAS -->
            <v-flex xs12>
            <v-text-field 
              v-model.number="nroPersonas" 
              :label="'Nro. de Personas'" 
              :error-messages="NroPersonasErrores"
              @input="$v.nroPersonas.$touch()"
              @blur="$v.nroPersonas.$touch()"
              @change="GuardarDatos"
              required></v-text-field>
          </v-flex>

            <!-- TIPO DE RESERVA -->
            <v-flex xs12>
              <v-switch
                v-model="TipoReservaPrivada"
                @change="GuardarDatos"
                :label="`Reserva ${TipoReservaPrivada ? 'PRIVADA' : 'PUBLICA'}`"
              ></v-switch>
            </v-flex>

            <!-- VALOR ENTRADA -->
            <v-flex xs12 v-if="!TipoReservaPrivada">
              <v-text-field 
              v-model.number="ValorEntrada" 
              :label="'Valor entrada'" 
              :error-messages="ValorEntradaErrores"
              @input="$v.ValorEntrada.$touch()"
              @blur="$v.ValorEntrada.$touch()"
              @change="GuardarDatos"
              required></v-text-field>
            </v-flex>
          </v-flex>
        </v-layout>
      </v-container>
    </v-form>
  </v-card>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, between, minValue, requiredIf } from 'vuelidate/lib/validators'
import { mapActions } from 'vuex'

export default {
  mixins: [validationMixin],
  validations: {
    nroPersonas: {
      between: between(1, 180)
    },
    TipoReservaPrivada: {
      required
    },
    Fecha: {
      required
    },
    ValorEntrada: {
      minValue: minValue(1),
      requiredIf: requiredIf(function (TipoReservaPrivada) {
        return !TipoReservaPrivada
      })
    }
  },
  methods: {
    ...mapActions(['GuardarDatosPaso1']),
    GuardarDatos: function() {
      var data = {
        valid: this.valid,
        nroPersonas: this.nroPersonas,
        fecha: this.Fecha,
        tipoReservaPrivada: this.TipoReservaPrivada,
        valorEntrada: this.ValorEntrada
      };
      this.GuardarDatosPaso1(data);
    }
  },
  computed: {
    NroPersonasErrores() {
      const errors = []
      if (!this.$v.nroPersonas.$dirty) return errors
      !this.$v.nroPersonas.between && errors.push('El máximo permitido son 180.')
      return errors
    },
    ValorEntradaErrores() {
      const errors = []
      if (!this.$v.ValorEntrada.$dirty) return errors
      !this.$v.ValorEntrada.minValue && errors.push('El valor mínimo debe ser 0.')
      return errors
    }
  },

  data: function() { 
    return {
      nroPersonas: '',
      Fecha: new Date().toISOString().substr(0, 10),
      TipoReservaPrivada: true,
      ValorEntrada: '',
      valid: false,
      modal: false
    }
  }
};
</script>