<template>
  <v-stepper v-model="e1">
    <v-stepper-header>
      <v-stepper-step :complete="e1 > 1" step="1">Precio Base</v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step :complete="e1 > 2" step="2">Comidas</v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step :complete="e1 > 3" step="3">Otros Items</v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step step="4">Resumen</v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <!-- PASO 1 -->
      <v-stepper-content step="1">
        <Paso1 />
        <v-btn
          color="secondary"
          @click="e1 = 2"
        >
          Continuar
        </v-btn>
      </v-stepper-content>

      <!-- PASO 2 -->
      <v-stepper-content step="2">
        <Paso2 />

        <v-btn
          color="secondary"
          @click="e1 = 3"
        >
          Continuar
        </v-btn>
        <v-btn @click="e1 = 1" flat>ATRAS</v-btn>
      </v-stepper-content>

      <!-- PASO 3 -->
      <v-stepper-content step="3">
        <v-card
          class="mb-5"
          color="grey lighten-1"
          height="200px"
        ></v-card>

        <v-btn
          color="secondary"
          @click="e1 = 4"
        >
          Continuar
        </v-btn>
        <v-btn @click="e1 = 2" flat>ATRAS</v-btn>
      </v-stepper-content>

      <!-- PASO 4 -->
      <v-stepper-content step="4">
        <v-card
          class="mb-5"
          color="grey lighten-1"
          height="200px"
        ></v-card>

        <v-btn
          color="Success"
          @click="e1 = 1"
        >
          Guardar
        </v-btn>
        <v-btn @click="e1 = 3" flat>ATRAS</v-btn>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>

<script>
  import Paso1 from '@/components/CotizaPiscina/Paso1'
  import Paso2 from '@/components/CotizaPiscina/Paso2'
  import { mapGetters } from 'vuex'

  export default {
    name: 'StepperPiscina',
    components: {
      Paso1,
      Paso2
    },
    computed: {
      ...mapGetters([
        'GetForm1'
      ])
    },
    data () {
      return {
        e1: 0
      }
    }
  }
</script>