<template>
  <v-app>
    <v-toolbar app dark color="primary">
      <v-toolbar-title class="headline">
        <span>Licancura</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        flat
        href="https://github.com/vuetifyjs/vuetify/releases/latest"
        target="_blank">
      </v-btn>
    </v-toolbar>

    <v-content>
      <CotizacionPiscina/>
    </v-content>
  </v-app>
</template>

<script>
import CotizacionPiscina from './components/StepperPiscina'

export default {
  name: 'App',
  components: {
    CotizacionPiscina
  },
  data () {
    return {
      //
    }
  }
}
</script>